body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-draggable, .cursor {
    cursor: move;
}

.capitalise {
    text-transform: capitalize;
}

.app {
    display: flex
}

.box {
    background-size: contain;
    background-image: url(images/icon.png);
    position: absolute;
}

.config {
    width: 300px;
    height: 846px;
    border-style: solid;
    padding: 10px;
    margin: 10px;
}

.grid {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    left: 10px;
    right: 10px;
}

.line {
    border-top: 1px solid darkgrey;
    width: 100%;
}

.viewport {
    /*should be (50 * n) + (10 + 3) * 2 ...... 10 + 3 is the padding and border width on each side*/
    width: 676px;
    /*should be 121 * n*/
    height: 846px;
    border-style: solid;
    position: relative;
    margin: 10px;
    padding: 0 10px;
    overflow-y: scroll;
}